body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-row-highlight td {   border:1px solid black; }

 
th.ant-table-cell{
  border: 1px solid black;
} 


th.ant-table-cell {
  font-family: 'Open Sans', Helvetica;
  color: #efefef
}

.table-row-highlight {
  background-color: #e6f7ff; /* Light blue color for row highlighting */
}

.ant-table-wrapper table
{
  border-bottom: 1px solid black !important;
  border-right: 1px solid black !important;
}

.custom-font-size {
  font-size: 14px; /* Adjust the font size according to your needs */
}

.ant-table-cell.ant-table-cell-fix-left.ant-table-cell-fix-left-last {
  font-size: 16px; /* Adjust the font size according to your needs */
  font-weight: bold;
}
main.ant-layout-content css-dev-only-do-not-override-y8x9xp
{
  background: lightslategray;
}